<h1> My Task</h1>

<h2><%= @task.title %></h2>
<p><%= @task.details %></p>
<p><%= @task.completed %></p>

<%= link_to "volver a tareas", tasks_path %> || <%= link_to "editar", edit_task_path(@task) %> || <%= link_to "Eliminar", task_path(@task), method: :delete %>